.header-container {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
  align-items: center;
}

.title {
  display: flex;
}

.title-text {
  font-size: 1.5rem;
}

.title-text span {
  font-size: 3.5rem;
  color: rgb(0, 110, 77);
}

.header-buttons button {
  margin: 0.6rem 1rem;
  border: none;
  border-radius: 1.2rem;
  outline: none;
  padding: 10px 15px;
  font-size: 14px;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  cursor: pointer;
}

.create {
  background: linear-gradient(
    90deg,
    rgb(52, 247, 13) 0%,
    rgb(61, 241, 181) 100%
  );
  color: rgb(255, 255, 255);
}

.create:hover {
  background: linear-gradient(90deg, rgb(247, 7, 7) 0%, rgb(236, 153, 0) 100%);
  color: rgb(255, 255, 255);
}

.swagger {
  background: linear-gradient(
    90deg,
    rgb(245, 14, 91) 0%,
    rgb(243, 35, 243) 100%
  );
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.swagger:hover {
  background: linear-gradient(
    90deg,
    rgb(39, 76, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  color: rgb(255, 255, 255);
}

.connect {
  background: linear-gradient(
    90deg,
    rgb(39, 76, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  color: rgb(255, 255, 255);
}

.connect:hover {
  background: linear-gradient(
    90deg,
    rgb(39, 76, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  color: rgb(255, 255, 255);
}

a {
  margin: 0.6rem 1rem;
  border: none;
  border-radius: 1.2rem;
  outline: none;
  padding: 10px 15px;
  font-size: 14px;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
}

@media (max-width: 1024px) {
  .header-container {
    flex-direction: column;
    justify-content: center;
  }
  .title-text {
    align-items: center;
    font-size: 1.3rem;
    margin: 20px;
  }
  .title-text span {
    font-size: 3rem;
    display: block;
    text-align: center;
  }
  .header-buttons button {
    margin-top: 2rem;
  }
}

@media (max-width: 590px) {
  .header-container {
    width: 100%;
    align-items: center;
  }
  .title-text {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
